* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    /* border: 1px solid red; */
}



body {
    background-size: cover;
    background-image: url(../img/pokemon.jpg);
    
}
.classe-cadre {

    background-color: #d1fd30;
    width:750px;
    height: 700px;
    margin: auto;
    margin-top: 150px;
    color: blue;
    text-align: center;   
    border: 3px solid black;
    border-radius: 40%;
}

.classe-cadre2 {
    width: 250px;
    height: 200px;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 100px;
    color: blue;
}
select{
    width:100%;
    text-align: center;
}
legend{
    color: rgb(0, 0, 255);
    font-size:23px;
    margin: auto;
}
p{
    font-size: 40px;
    margin-top: 40px;
}
